{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Pattern Project Operator machine</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Update Database</h1>
                    <table class="table">
                        <tr>
                            <th>Indicator</th>
                            <th>Link</th>
                        </tr>
                        <tr>
                            <td>3W</td>
                             <td><a href="http://127.0.0.1:8000/transform/3W" target="_blank">Update</a></td>
                        </tr>
                        <tr>
                            <td>Population</td>
                            <td><a href="http://127.0.0.1:8000/transform/population" target="_blank">Update</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>